html {
  font-size: 62.5%; 
  @include respond(big-desk){
    font-size: 75%;
  }

  @include respond(tab-land){
    font-size: 56.25%;
  }

  @include respond(tab-port){
    font-size: 50%;
  } 
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-dark-grey-1;
}

.heading {
  &__title-wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    backface-visibility: hidden;
    text-align: center;
  }
  &-primary {
    text-align: center;
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
  &-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 1s;
    animation-timing-function: ease-out;
    
    @include respond(phone){
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  &-primary--subtitle {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInRight 1s ease-in;

    @include respond(phone){
      letter-spacing: 0.5rem;
    }
  }
}
.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  @include respond(tabs-port){
      font-size: 3rem;
  }

  @include respond(phone){
      font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
